<!-- include head -->
<%- include ('partials/_head',{title: 'CRUD Application'}) %>
<!-- /include Head -->

<!-- <Header> -->
<header class="header">

</header>
<!-- </Header> -->

<!-- Main Site -->
<main class="site-main">
  <h1 id="not_found404">404 this page is not found</h1>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include ('partials/_footer') %>
<!-- /include footer -->
